<table class="table text-center" >
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Para perro:</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foods" [ngClass]="{'offer': food.offer }">
        <td><img width="90" src = {{food.image}}></td>
        <td>{{food.name}}</td>
        <td>{{food.brand}}</td>
        <td>{{food.age}}</td>
        <td>{{food.price| currency}}</td>
        <td> <span class="badge text-bg-danger" *ngIf="food.stock==0">SIN STOCK</span></td>
        <td>
          <app-input-integer [(quantity)]="food.quantity" [max]="food.stock" *ngIf="food.stock" (maxReached)="maxReached($event)"></app-input-integer>
          
      </td>
      <td>
              <button class="btn btn-primary" (click)="addToCart(food)">Comprar</button>
      </td>
        
      </tr>
      
    </tbody>
  </table>
